langchain
langchain-community
langgraph
qdrant-client
langchain-qdrant
sentence-transformers
langchain-huggingface
openai
langchain-openai
pinecone-client
pymilvus
scikit-learn
numpy
matplotlib
grafana-api
wikipedia
wikipedia-api
ragas
jupyter
